:root {
  /* Font size  */
  /* Desktop */
  --extra-large: 4.8rem; /* 4*/
  --large: 3.6rem;
  --medium: 2.2rem;
  --regular: 2rem;
  --small: 1.8rem;
  --extra-samll: 1.4rem;

  /* Font Weight */
  --weight-thin: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;

  /* Layout Size  */
  --gap-extra-large: 9.6rem;
  --vertical-gap-large: 7.6rem;
  --vertical-gap-regular: 6.2rem;
  --vertical-gap-small: 2.4rem;
  --contatc-icon-size: 3.6rem;

  /* Color */
  --main-color: #f9cb81;
  --black-color: #2a2c2e;
  --hightlight-color: #e7d4b7;
  --dark-grey-color: #6a6b6d;
  --light-grey-color: #dedede;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  text-decoration: none !important;
  color: inherit;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  max-width: 1110px;
  margin: 0 auto;
  padding: 2rem;
  /* border: 1px solid red; */
}

/* Global 1,2*/

/* 1) Section & Section Title  */
section {
  margin-top: var(--vertical-gap-regular);
}

.section-wrapper {
  display: flex;
  justify-content: space-between;
}

.section-title {
  position: relative;
  display: inline-block;
  margin-bottom: var(--vertical-gap-regular);
}

.section-title h1 {
  font-size: var(--large);
  color: #000;
}

.section-title span {
  background-color: var(--hightlight-color);
  display: block;
  bottom: 4px;
  width: 100%;
  opacity: 0.4;
  height: 20%;
  position: absolute;
  z-index: -1;
}

/* 2) Section Content List Item  */
section li {
  color: var(--black-color);
  font-weight: var(--weight-regular);
  line-height: 200%;
}

/* Tablet */
@media screen and (max-width: 991px) {
  html {
    font-size: 40.5%;
  }

  body {
    width: 100vw;
    margin: 0 0;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  body {
    width: 100vw;
    margin: 0 0;
  }

  .section-title {
    margin-bottom: var(--vertical-gap-small);
  }
}

/*** Nav & Intro Section ***/
nav {
  background-color: var(--main-color);
  position: fixed;
  height: 6rem;
  width: 100vw;
  top: -6rem;
  left: 0;
  transition: top 0.3s;
  z-index: 1;
}

nav .nav-box {
  display: block;
  height: 6rem;
  max-width: 1110px;
  padding: 0px 2rem;
  font-size: var(--small);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-box a {
  font-size: var(--small);
}

nav img {
  height: 3.3rem;
  width: 3.3rem;
}

nav a {
  color: #fff;
  font-size: large;
}

nav a:nth-child(1) {
  margin-right: 1rem;
}

.intro-title {
  font-size: var(--extra-large);
  color: var(--main-color);
  margin-top: 4rem;
}

.intro-title strong {
  color: var(--dark-grey-color);
  font-size: 3rem;
  font-weight: var(--weight-medium);
}

@media screen and (max-width: 767px) {
  nav {
    /* height: 3.6rem;
    background-color: red; */
  }

  .nav-box {
    /* height: 2.6rem; */
  }
}

/*** Myself Section ***/

.my-self {
  top: -0.2rem;
  font-size: var(--regular);
  margin-right: 8rem;
}

.my-self .content-list {
  margin-left: 1em;
}

.my-self .section-title {
  margin-bottom: var(--vertical-gap-small);
}

/*** Contact Section ***/
.contact {
  font-size: var(--regular);
  display: block;
  width: 100%;
}

.contact .section-title {
  margin-bottom: var(--vertical-gap-small);
}

.contact.content-list li {
  display: flex;
  align-items: start;
  margin: 0;
  margin-bottom: 3.4rem;
}

.contact .content-list img {
  height: var(--contatc-icon-size);
  width: var(--contatc-icon-size);
  display: block;
  margin-right: 1.6rem;
}

@media screen and (max-width: 767px) {
  .section-wrapper.first {
    flex-direction: column;
    margin-top: 0;
  }

  .my-self {
    margin-right: 0px;
  }

  .contact.content-list li {
    align-items: center;
  }
}

/*** Learning Journey Section ***/

.journey-horizontal-line {
  position: relative;
  height: 0.4rem;
  width: 100%;
  background-color: var(--main-color);
}

.journey .content-list {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

.journey .content-list .bullet {
  height: 1.8rem;
  width: 1.8rem;
  margin-bottom: 1rem;
  display: block;
  border-radius: 50%;
  background-color: var(--main-color);
  transform: translateY(-50%);
}

.journey .content-list li {
  flex: 1;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.journey .content-list img {
  height: 3.3rem;
  width: 3.3rem;
  margin-bottom: 0.75rem;
}

.journey .content-list h2 {
  font-size: var(--medium);
  font-weight: var(--weight-bold);
  color: #000;
}

.journey .content-list span:nth-child(4) {
  font-size: var(--extra-samll);
  color: var(--light-grey-color);
  line-height: 1.8rem;
  margin-bottom: 2.4rem;
  margin-top: 0.6rem;
}

.journey .content-list p {
  font-size: 1.8rem;
  font-weight: var(--weight-thin);
  color: var(--black-color);
  line-height: 140%;
}

/* Mobile > Journey */
@media screen and (max-width: 767px) {
  .journey-horizontal-line {
    display: none;
  }

  .journey .content-list .bullet {
    display: none;
  }

  .journey.content-list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .journey .content-list :nth-child(-n + 3) {
    margin-right: 0;
  }

  .journey .content-list li {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-top: 4rem; */
  }

  .journey .content-list li p {
    margin-bottom: 3.2rem;
  }
}

/*** Experience ***/
.experience .content-list {
  list-style: none;
}

.experience .content-item {
  margin-bottom: 9rem;
}

.experience .content-list h1 {
  font-size: 2.4rem;
  font-weight: var(--medium);
  line-height: 3.05rem;
  letter-spacing: 2%;
  margin-bottom: 1rem;
}

.experience .content-list .description {
  display: flex;
  align-items: center;
  margin-bottom: 2.6rem;
}

.experience .content-list .description span {
  font-size: var(--small);
  font-weight: var(--medium);
  line-height: 2.3rem;
  letter-spacing: 0.02em;
  color: var(--black-color);
}

.experience .content-list .description img {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.experience .content-list-detail {
  display: flex;
}

.experience .content-list-detail-leading-info {
  /* Postion & Date Wrapper */
  min-width: 20rem;
  margin-right: 4%;
}

.experience .content-list-detail-leading-info h2 {
  /* Position */
  font-size: var(--regular);
  color: var(--dark-grey-color);
  line-height: 140%;
  font-weight: var(--weight-medium);
  display: inline-block;
  width: 100%;
  margin-bottom: 0.4rem;
}

.experience .content-list-detail-leading-info span {
  /* Date */
  font-size: var(--extra-samll);
  font-weight: var(--weight-thin);
  color: var(--dark-grey-color);
  opacity: 0.7;
  line-height: 140%;
}

.experience .content-list-details {
  width: 100%;
}

.experience .content-list-details li {
  /* Experience Detail */
  font-size: var(--small);
  font-weight: var(--weight-thin);
  line-height: 200%;
  color: var(--black-color);
  list-style: inside;
  width: 100%;
  text-align: left;
}

.experience .content-list-details ul {
  /* Experience Detail > ul */
  margin-left: 2em;
  display: inline-block;
}

/* Mobile > Experience */
@media screen and (max-width: 767px) {
  .experience .content-list-detail {
    display: flex;
    flex-direction: column;
  }

  .experience .content-list .description {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.6rem;
  }

  .experience .content-list-detail-leading-info {
    /* Postion & Date Wrapper */
    width: 100%;
    text-align: start;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 576px) {
  .experience .content-list-detail-leading-info {
    width: 100%;
    text-align: end;
  }
}

/*** Skillset Section ***/
.skillset {
  width: 50%;
  margin-right: 1.2rem;
}

.skillset ul {
  list-style-type: none;
}

.skillset li span {
  display: block;
}

.skillset li span:nth-child(1) {
  font-weight: var(--weight-regular);
  font-size: 2.6rem;
  color: var(--black-color);
  list-style-type: none;
  margin-bottom: 0.9rem;
}

.skillset li span:nth-child(2) {
  font-size: var(--small);
  color: var(--black-color);
  font-weight: var(--weight-thin);
  line-height: 140%;
  margin-bottom: 2.8rem;
}

/*** Mindset Section ***/
.mindset {
  width: 50%;
}

.mindset img {
  height: 50rem;
  top: 0;
  left: 0;
  z-index: -2;
  overflow-x: hidden;
}

.mindset ul {
  position: relative;
  top: 6rem;
  left: 6rem;
  z-index: 10;
}

.mindset li {
  color: white;
  font-size: var(--small);
}

@media screen and (max-width: 767px) {
  .section-wrapper.second {
    flex-direction: column;
  }

  .skillset {
    width: 100%;
  }

  .mindset {
    width: 100%;
  }
}

/* Education */

.section-wrapper.end {
  margin-bottom: 10rem;
}

.education {
  width: 50%;
}

.education h2 {
  font-weight: var(--weight-regular);
  font-size: var(--regular);
  line-height: 2.3rem;
  letter-spacing: 0.02em;
  color: var(--black-color);
}

.education p {
  font-weight: var(--weight-regular);
  font-size: var(--regular);
  line-height: 2rem;
  letter-spacing: 0.02em;
  color: #4a4a4a;
  margin-top: 0.8rem;
}

/* ETC */
.etc {
  width: 50%;
}

.etc h2 {
  font-weight: var(--weight-regular);
  font-size: var(--regular);
  line-height: 2.3rem;
  letter-spacing: 0.02em;
  color: var(--black-color);
}

.etc p {
  font-weight: var(--weight-regular);
  font-size: var(--regular);
  line-height: 2rem;
  letter-spacing: 0.02em;
  color: #4a4a4a;
  margin-top: 0.8rem;
}

@media screen and (max-width: 767px) {
  .education {
    width: 40%;
  }

  .etc {
    width: 40%;
  }
}

.hits {
  float: right;
  margin-bottom: 2rem;
}
